/* VARIABLES DE COLORES */

:root {
    --violeta-oscuro: #1B0030;
    --violeta-oscuro-RGB: 27, 0, 48;
    --violeta-oscuro-degrade: #480e74;
    --violeta-medio: #3E016D;
    --violeta-medio-RGB: 62, 1, 109;
    --violeta-claro: #A500F8;
    --violeta-claro-RGB: 165, 0, 248;
    --rojo: #FF0059;
    --verde: #AABD27;
    --naranja: #ff7600;
    --amarillo: #FFD400;
    --amarillo-RGB: 255, 212, 0;
    --blanco: white;
    overflow-x: hidden;
}

/* INICIO BODY */
html {
    scroll-behavior: smooth;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body {
    background-image: linear-gradient(180deg, var( --violeta-oscuro-degrade), var(--violeta-claro)); 
    background-attachment: fixed;
    font-family: 'Exo', sans-serif;
    text-align: center;
}


/* -------- GENERAL GRID -------- */

/* 
(1) OPTION  (2)  HEADER (3)  HEADER (4)  HEADER (5)  SCORE (6)
(2) OPTION       USER        VS          MACHINE     SCORE
(3) OPTION       FOOTER      FOOTER      FOOTER      SCORE
(4) SIGN         SIGN        SIGN        SIGN        SIGN
(5)
*/

.generalGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 0.85fr 0.1fr;
    grid-template-columns: 1.15fr 1fr 0.5fr 1fr 1.15fr;
    height: 100%;
    width: 100%;
}
.headerGrid {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.optionGrid {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 8em;
}
.userVsMachineGrid {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
}
.humanGrid {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.vsGrid {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10vw;
}
.machineGrid {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footerGrid {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scoreGrid {
    grid-column: 5 / 6;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 8em;
}
.signGrid {
    grid-column: 1 / 6;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* -------- OPTION -------- */

.textOptionScore {
    font-weight: 900;
    font-size: 1.5em;
    text-align: center;
    color: var(--violeta-claro);
    padding-bottom: 0.5em;
}
.textOptionScoreResponsive {
    display: none;
    font-weight: 900;
    font-size: 1.5em;
    text-align: center;
    color: var(--violeta-claro);
    padding-bottom: 0.5em;
}
.botonesSVG {
    height: 5em;
    border: 2px solid var(--naranja);
    border-radius: 0.5em;
    padding: 0.9em 1.3em;
    margin: 0.5em 1em;
    position:relative;
    cursor: pointer;
    animation: shadow-pulse 1s infinite;
}
@keyframes shadow-pulse {
    0% { -webkit-box-shadow: 0 0 0 0px rgba(var(--violeta-claro-RGB), 0.1); }
    25% { -webkit-box-shadow: 0 0 0 2px rgba(var(--violeta-medio-RGB), 0.3); }
    50% { -webkit-box-shadow: 0 0 0 5px rgba(var(--violeta-oscuro-RGB), 0.6); }
    75% { -webkit-box-shadow: 0 0 0 2px rgba(var(--violeta-medio-RGB), 0.3); }
    100% { -webkit-box-shadow: 0 0 0 0px rgba(var(--violeta-claro-RGB), 0.1); }

    0% { box-shadow: 0 0 0 0px rgba(var(--violeta-claro-RGB), 0.1); }
    25% { box-shadow: 0 0 0 2px rgba(var(--violeta-medio-RGB), 0.3); }
    50% { box-shadow: 0 0 0 5px rgba(var(--violeta-oscuro-RGB), 0.6); }
    75% { box-shadow: 0 0 0 2px rgba(var(--violeta-medio-RGB), 0.3); }
    100% { box-shadow: 0 0 0 0px rgba(var(--violeta-claro-RGB), 0.1); }

    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      50% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
      }
      to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

  }    

.botonesSVG:hover {
    background-color: var(--violeta-medio);
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

/* -------- HEADER -------- */

.title {
    width: 30vw;
}


/* -------- useVsMachine -------- */

#human {
    width: 23vw;
}
.vs {
    width: 7vw;
}
#machine {
    width: 23vw;
}
.iconosPlayers {
    height: 15em;
    position:relative;
}

/* -------- FOOTER -------- */

.boton {
    background-color: var(--violeta-medio);
    border: 0.01em var(--violeta-medio) solid;
    color: var(--violeta-claro);
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    font-weight: 900;
    font-size: 1.25em;
    padding: 0.5em 1em;
    margin: 1em 0em 0em 0em;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
}
.boton:hover {
    background-color: var(--violeta-claro);
    border: 0.01em var(--violeta-claro) solid;
    color: var(--violeta-medio);
}

.textResultAnimated {
    font-weight: 800;
    font-size: 3.4em;
    text-align: center;
    color: var(--amarillo);
    padding-bottom: 0.15em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    50% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
#descriptiveText { 
    font-weight: 700;
    font-size: 0.75em;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--blanco);
    padding: 0.5 0;
}
.buttonText {
    height: 1.2em;
    padding: 0 0.07em;
}

/* -------- SCORE -------- */

#scores {
    padding: 0.5em 0 0 0;
}
.scoreHuman, .scoreMachine {
    align-items: center;
    font-weight: 900;
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--violeta-medio);
    padding: 0.15em 0 0 0;
}
.numberCounterM, .numberCounterH {
    align-items: center;
    font-weight: 900;
    font-size: 9em;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--violeta-medio);
    padding-bottom: 0.05em;
}
.textOptionScoreResponsiveWhite {
    display: none;
}

/* -------- SIGN -------- */

.descriptiveText-mini {
    font-weight: 700;
    font-size: 0.75em;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--violeta-medio);
    padding-bottom: 2em;
}
hr.signLine {
    width: 45vw;
    border: 0.5px solid var(--violeta-medio);
}


@media only screen and (max-width: 900px) {

    .generalGrid {
        display: grid;
        grid-template-rows: 1fr 1fr 0.85fr 0.1fr;
        grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
        height: 100%;
        width: 100%;
    }
    .headerGrid {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .optionGrid {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2em;
    }
    .userVsMachineGrid {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: row;
    }
    .humanGrid {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .vsGrid {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 10vw;
    }
    .machineGrid {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .footerGrid {
        grid-column: 2 / 5;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .scoreGrid {
        grid-column: 5 / 6;
        grid-row: 1 / 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2em;
    }
    .signGrid {
        grid-column: 1 / 6;
        grid-row: 4 / 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    /* -------- OPTION -------- */
    
    .textOptionScore {
        font-weight: 900;
        font-size: 1em;
        text-align: center;
        color: var(--violeta-claro);
        padding-bottom: 0.5em;
    }
    .textOptionScoreResponsive {
        display: none;
        font-weight: 900;
        font-size: 1em;
        text-align: center;
        color: var(--violeta-claro);
        padding-bottom: 0.5em;
    }
    .botonesSVG {
        height: 2.75em;
        border: 2px solid var(--naranja);
        border-radius: 0.5em;
        padding: 0.7em 1em;
        margin: 0.4em 1em;
        position:relative;
        cursor: pointer;
        animation: shadow-pulse 1s infinite;
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    
    /* -------- HEADER -------- */
    
    .title {
        width: 35vw;
    }
    
    
    /* -------- useVsMachine -------- */
    
    #human {
        width: 23vw;
    }
    .vs {
        width: 7vw;
    }
    #machine {
        width: 23vw;
    }
    .iconosPlayers {
        height: 8em;
        position:relative;
    }
    
    /* -------- FOOTER -------- */
    
    .boton {
        background-color: var(--violeta-medio);
        border: 0.01em var(--violeta-medio) solid;
        color: var(--violeta-claro);
        border-radius: 0.5em;
        font-weight: 900;
        font-size: 1em;
        padding: 0.45em 1em;
        margin: 0.5em 0em 0em 0em;
        cursor: pointer;
    }
    .boton:hover {
        background-color: var(--violeta-claro);
        border: 0.01em var(--violeta-claro) solid;
        color: var(--violeta-medio);
    }
    
    .textResultAnimated {
        font-weight: 800;
        font-size: 2em;
        text-align: center;
        color: var(--amarillo);
        padding-bottom: 0.15em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: pulse 1s infinite;
    }
    
    
    #descriptiveText { 
        font-weight: 700;
        font-size: 0.5em;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--blanco);
        padding: 0.5 0;
    }
    .buttonText {
        height: 1.2em;
        padding: 0 0.07em;
    }
    
    /* -------- SCORE -------- */
    
    #scores {
        padding: 0.5em 0 0 0;
    }
    .scoreHuman, .scoreMachine {
        align-items: center;
        font-weight: 900;
        font-size: 1.25em;
        display: flex;
        justify-content: center;
        text-align: center;
        color: var(--violeta-medio);
        padding: 0.1em 0 0 0;
    }
    .numberCounterM, .numberCounterH {
        align-items: center;
        font-weight: 900;
        font-size: 6.5em;
        display: flex;
        justify-content: center;
        text-align: center;
        color: var(--violeta-medio);
        padding-bottom: 0.05em;
    }
    .textOptionScoreResponsiveWhite {
        display: none;
    }
    
    /* -------- SIGN -------- */
    
    .descriptiveText-mini {
        font-weight: 700;
        font-size: 0.75em;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--violeta-medio);
        padding-bottom: 2em;
    }
    hr.signLine {
        width: 45vw;
        border: 0.5px solid var(--violeta-medio);
    }
    
}


@media only screen and (max-width: 600px) {
/* -------- GENERAL GRID (MOBILE) -------- */ 

/* 
(1) HEADER  (2)  HEADER (3)  HEADER (4)
(2) OPTION       OPTION      OPTION
(3) USER         VS          MACHINE     
(4) FOOTER       FOOTER      FOOTER
(5) SCORE        SCORE       SCORE
(6) SIGN         SIGN        SIGN
(7)
*/


.generalGrid {
    display: grid;
    grid-template-rows: 0.75fr 0.75fr 1fr 0.9fr 1fr 0.1fr;
    grid-template-columns: 4.5fr 1fr 4.5fr;
    height: 100%;
    width: 100vw;
}
.headerGrid {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.optionGrid {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0em;
}
.userVsMachineGrid {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.humanGrid {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.vsGrid {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15vw;
}
.machineGrid {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footerGrid {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scoreGrid {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0em;
}
.signGrid {
    grid-column: 1 / 6;
    grid-row: 6 / 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* -------- OPTION -------- */

.textOptionScore {
    display: none;
}
.textOptionScoreResponsive {
    font-size: 1em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: column;
}
.botonesSVG {
    height: 3em;
    border: 1.25px solid var(--naranja);
    border-radius: 0.5em;
    padding: 0.8em 1.2em;
    margin: 0.5em 0.5em;
    position:relative;
    cursor: pointer;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* -------- HEADER -------- */

.title {
    width: 45vw;
}


/* -------- useVsMachine -------- */

#human {
    width: 2vw;
}
.vs {
    width: 15vw;
}
#machine {
    width: 2vw;
}
.iconosPlayers {
    height: 10em;
    position:relative;
}

/* -------- FOOTER -------- */

.boton {
    background-color: var(--violeta-medio);
    border: 0.01em var(--violeta-medio) solid;
    color: var(--violeta-claro);
    border-radius: 0.5em;
    font-weight: 900;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 1em 0em 0em 0em;
    cursor: pointer;
}
.boton:hover {
    background-color: var(--violeta-claro);
    border: 0.01em var(--violeta-claro) solid;
    color: var(--violeta-medio);
}
#textoResultado { 
    font-size: 2.25em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}
#descriptiveText { 
    font-size: 0.5em;
    padding-bottom: 0.15em;
}
#descriptiveText-mini {
    font-size: 0.75em;
    padding-top: 1.5em;
}


/* -------- SCORE -------- */

#scores {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0 0 0;
}
.scoreHuman, .scoreMachine {
    align-items: center;
    font-weight: 900;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.15em 1em;
}
.numberCounterM, .numberCounterH {
    align-items: center;
    font-weight: 900;
    font-size: 7em;
    display: flex;
    justify-content: center;
    padding-bottom: 0.05em;
}
.textOptionScoreResponsiveWhite {
    display: block;
    font-weight: 900;
    font-size: 1em;
    text-align: center;
    color: var(--blanco);
    padding-top: 0em;
    padding-bottom: 0.25em;
}
/* -------- SIGN -------- */

.descriptiveText-mini {
    font-weight: 700;
    font-size: 0.65em;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--violeta-medio);
    padding-bottom: 2em;
}
hr.signLine {
    width: 80vw;
}

}




@media only screen and (max-width: 450px){
    /* -------- GENERAL GRID (MOBILE) -------- */ 
    
    /* 
    (1) HEADER  (2)  HEADER (3)  HEADER (4)
    (2) OPTION       OPTION      OPTION
    (3) USER         VS          MACHINE     
    (4) FOOTER       FOOTER      FOOTER
    (5) SCORE        SCORE       SCORE
    (6) SIGN         SIGN        SIGN
    (7)
    */
    
    
    .generalGrid {
        display: grid;
        grid-template-rows: 0.65fr 0.75fr 0.75fr 0.8fr 1fr 0.1fr;
        grid-template-columns: 4.5fr 1fr 4.5fr;
        height: 100%;
        width: 100vw;
    }
    
    /* -------- OPTION -------- */
    
    .textOptionScore {
        display: none;
    }
    
    /* -------- HEADER -------- */
    
    .title {
        width: 65vw;
    }

    /* -------- useVsMachine -------- */
    
    #human {
        width: 2vw;
    }
    .vs {
        width: 15vw;
    }
    #machine {
        width: 2vw;
    }
    .iconosPlayers {
        height: 8em;
        position:relative;
    }
    
    /* -------- FOOTER -------- */
    
    .boton {
        background-color: var(--violeta-medio);
        border: 0.01em var(--violeta-medio) solid;
        color: var(--violeta-claro);
        border-radius: 0.5em;
        font-weight: 900;
        font-size: 1em;
        padding: 0.25em 1em;
        margin: 1em 0em 0em 0em;
        cursor: pointer;
    }
    .boton:hover {
        background-color: var(--violeta-claro);
        border: 0.01em var(--violeta-claro) solid;
        color: var(--violeta-medio);
    }
    #textoResultado { 
        font-size: 2em;
        padding-top: 0.15em;
        padding-bottom: 0.35em;
    }
    #descriptiveText { 
        font-size: 0.5em;
        padding-bottom: 0.15em;
    }
    #descriptiveText-mini {
        font-size: 0.75em;
        padding-top: 1.5em;
    }
    }
